<script>
    function logout() {
        $.removeCookie('cutoken');
        window.location.href = '/'
    }

    function Popup() {
        popup = document.querySelector('.signup')
        popup.style.display = 'block';
    }
    function popdown(){
        popup = document.querySelector('.signup')
        popup.style.display = 'none';
    }
    function login() {
        $.ajax({
            type: "POST",
            url: "/login",
            data: { user_id: $('#user_id').val(), user_pw: $('#user_pw').val() },
            success: function (response) {
                if (response['result'] == 'success') {
                    // 이 토큰을 mytoken이라는 키 값으로 쿠키에 저장
                    $.cookie('cutoken', response['token']);
                    alert('로그인 완료!')
                    window.location.href = '/'
                } else {
                    // 로그인이 안되면 에러메시지
                    alert(response['message'])
                }
            }
        })
    }
    function signup() {
        $.ajax({
            type: "POST",
            url: "/signup",
            data: { user_id: $('#signup_user_id').val(), user_pw: $('#signup_user_pw').val(), user_name: $('#signup_user_name').val(),user_pw2: $('#signup_user_pw2').val(),},
            success: function (response) {
                if (response['result'] == 'success') {
                    alert('로그인 완료!')
                    window.location.href = '/'
                } else {
                    alert(response['message'])
                }
            }
        })
    }
</script>

<link rel="stylesheet" href="../static/header.css">
<link rel="stylesheet" href="../static/signup.css">
<nav class="navbar navbar-light bg-light header_bg">
    <a class="header_link" href="/">
        고민 상담 계시판
    </a>


    <div>
        {% if user_name %}
        {#{{ user_name }}#}
        <div>환영합니다 {{ user_name }}님
            <button class="header_rightBtn" onclick="logout()">로그아웃</button>
            <button class="header_rightBtn" onclick="location.href='/view_post'">고민 글쓰기</button>
        </div>
        {% endif %}
        {% if not user_name %}
        <input type="text" class="input_id" name="user_id" id="user_id" placeholder="ID">
        <input type="password" class="input_pw" name="user_pw" id="user_pw" placeholder="PW">
        <button class="header_rightBtn" onclick="login()">로그인</button>
        <button class="header_rightBtn" onclick="Popup()">회원가입</button>
        {% endif %}

        <div class="signup">
            <div class="container">
                <div class="input-form-backgroud row">
                    <div class="input-form col-md-12 mx-auto">
                        <button type="button" class="btn btn-light" style="float: right;" onclick="popdown()">X</button>
                        <h4 class="mb-3">회원가입</h4>
                    
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="name">ID</label>
                                    <input type="text" class="form-control" id="signup_user_id" name="user_id" placeholder=""
                                        value="" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="nickname">별명</label>
                                    <input type="text" class="form-control" id="signup_user_name" name="user_name" placeholder=""
                                        value="" required>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="password">비밀번호</label>
                                <input type="password" class="form-control" id="signup_user_pw" name="user_pw"
                                    placeholder="password" required>
                            </div>

                            <div class="mb-3">
                                <label for="password">비밀번호 확인</label>
                                <input type="password" class="form-control" id="signup_user_pw2" name="user_pw2"
                                    placeholder="password" required>
                            </div>

                            <hr class="mb-4">
                            <div class="mb-4"></div>
                            <button class="btn btn-primary btn-lg btn-block" onclick="signup()">가입 완료</button>

                    </div>
                </div>
                <footer class="my-3 text-center text-small">
                    <p class="mb-1">&copy; 2021 YD</p>
                </footer>
            </div>
        </div>
</nav>